body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
  }
  
  button {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  input {
    padding: 10px;
    border: 1px solid var(--accent-color);
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  